<div class="container pt-5">
    <div class="row">
            <div class="col-md-2"></div>
        <div class="col-md-5">
            <h3 class="pb-4">商品編集</h3>
            <div>
                <%= form_with model: [:admin, @item], local: true do |f| %>
                    <table class="table">
                        <tr>
                            <th>
                                <label for="inputName">商品名</label>
                            </th>
                            <td><%= f.text_field :name, autofocus: true, id:"inputName", placeholder: "商品名" %></td>
                        </tr>
                        <tr>
                            <th><label for="inputIntroduction">商品説明</label></th>
                            <td><%= f.text_field :introduction, autofocus: true, id:"inputIntroduction", placeholder: "商品説明" %></td>
                        </tr>
                        <tr>
                            <th><label for="inputGenre">ジャンル</label></th>
                            <td></td>
                        </tr>
                        <tr>
                            <th><label for="inputPrice">税抜価格</label></th>
                            <td>
                               <%= f.text_field :price, autofocus: true, id:"inputPrice", placeholder: "税抜価格" %>
                            </td>
                        </tr>
                        <tr>
                           <th><label for="inputIsActiv">販売ステータス</label></th>
                           <td></td>
                        </tr>
                    </table>
                    <%= f.submit "保存" %>
                <% end %>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


