<h1>Admin::Items#new</h1>
<p>Find me in app/views/admin/items/new.html.erb</p>
<%= form_with model: [ :admin, @item], local: true do |f| %>
<h4>商品名</h4>
<%= f.text_field :name %>
<h4>説明</h4>
<%= f.text_field :introduction %>
<h4>値段</h4>
<%= f.text_field :price %>
<h4>販売ステータス</h4>
<%= f.text_field :is_active %>
<%= f.submit '保存' %>
<% end %>
