<div class="container">
    
    <div class ="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-5 py-5">
            <h3 class="pb-4">会員情報</h3>
            <table class="table">
                <tr>
                    <th>氏名</th>
                    <td>
                        <%= @customer.last_name %> 
                        <%= @customer.first_name %>
                    </td>
                </tr>
                <tr>
                    <th>フリガナ</th>
                    <td>
                        <%= @customer.last_name_kana %> 
                        <%= @customer.first_name_kana %>
                    </td>
                </tr>
                <tr>
                    <th>郵便番号</th>
                    <td><%= @customer.postal_code %></td>
                </tr>
                <tr>
                    <th>住所</th>
                    <td><%= @customer.address %></td>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <td><%= @customer.telephone_number %></td>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <td><%= @customer.email %></td>
                </tr>
                 <tr>
                    <th>会員ステータス</th>
                    <td><%= @customer.is_active %></td>
                </tr>
                
            </table>
            <%= link_to "編集する", edit_admin_customer_path(@customer.id), class:"" %>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>


