<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/6b92dd2514.js" crossorigin="anonymous"></script>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="container">
    <div>
      <div>
        <nav class="navbar">
          <div class=""><h1>logo</h1></div>
    
          <% if customer_signed_in? %>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <%= link_to customer_path, class: "nav-link" do %>
                  <i class="fas fa-house-user"></i>　マイページ
                <% end %>
              </li>
            </ul>
          <% else %>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <%= link_to about_path, class: "nav-link" do %>
                  <i class="fab fa-readme"></i>　About
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to items_path, class: "nav-link" do %>
                  <i class="fas fa-cheese"></i> 商品一覧
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_customer_registration_path, class: "nav-link" do %>
                  <i class="fas fa-file-signature"></i> 新規登録
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_customer_session_path, class: "nav-link" do %>
                  <i class="fas fa-sign-in-alt"></i> ログイン
                <% end %>
              </li>
            </ul>
          <% end %>
        </nav>
      </div>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
